*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.gradle/
.idea/kotlinc.xml
.idea/libraries/kotlin_runtime.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
build/
.idea/compiler.xml
.idea/gradle.xml
.idea/libraries/
.idea/modules/
.idea/.name
out/
